:root {
    background: url('./images/cool-background.png');
    background-position: center center;
    background-repeat: repeat-y;
    font-size: 62.5%;
  }

.qbox {
  background-color: rgba(0, 102, 255, 0.4);
  /* box-shadow:0 0rem 5rem 4rem rgba(0, 102, 255, 0.8); */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  margin: 4rem 1rem 4rem 1rem;
}

.qcontainer {
  width: 100vw;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;

  position:fixed;
  top:0;
  z-index: -1;
  margin-left: 1rem;
  margin-right: 1rem;

}

  
  * {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 5.4rem;
    color: #f5fff5;
    margin-bottom: 3rem;
  }
  
  h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h2 {
    font-size: 4.2rem;
    margin-bottom: 3rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }
   */

  
  .container {
    flex-direction: column;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
  }

  .container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    text-align: center;

    border-radius: 10rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 191, 255);
    background-color: rgba(200, 255, 0,1);

    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);

  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem 1rem rgb(100, 204, 100);
    /* transform: translateY(-0.1rem); */
    transition: transform 150ms;
  }
  

  /* FORMS */
  .homeform {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  

  
  input[type=text]:not(.gridtxt){
    width: 30vw;
    border-radius: 2rem;
    border: none;
    width: 100vw;
    max-width: 40rem;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }

  input::placeholder {
    color: #aaa;
  }
  
  .timg {
    max-width:60%;
    width: 60%;
    height: auto;
    background-color: rgba(200, 255, 0,0.7);
    border-radius: 4rem;
    box-shadow: 0 0rem 8rem 5rem rgba(200, 255, 0,0.8);
}

.decrypt {
    font-size: 8vw;
    font-family: monospace;
    color:rgba(20, 20, 200,0.6);
    background-color: rgba(200, 255, 0,0.7);
    border-radius: 10rem;
    box-shadow: 0 0rem 8rem 5rem rgba(200, 255, 0,0.8);
    margin:0;
    padding: 0;
}

#time {
  margin:0;
  padding: 0;
  margin-bottom: 2rem;
  font-family: cursive;
  font-size: 5rem;
  color: rgb(255, 217, 0);
}

.question {
  color:black;
  background-color: rgba(255, 255, 255,0.8);
  padding: 1rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 100;
  margin:0;
}
.questionNo {
  font-size: 2rem;
  background-image: linear-gradient(rgb(81, 255, 0),rgb(0, 248, 236));
  color: rgb(204, 0, 255);
  border-radius: 1rem;
  padding: 1rem;
  align-self: flex-start;
  margin: 0 0 1rem 0;

}


.questionImg {
  border-radius: 1rem;
  max-width: 100%;
  max-height: 60vh;
  margin:1rem;
}

.submitAnswerButton {
  border-radius: 1rem;
  background-image: linear-gradient(rgba(255, 166, 0, 0.801),rgb(187, 255, 0));
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.submitAnswerButton:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem 1rem rgb(28, 44, 68);
  background-image: linear-gradient(rgb(187, 255, 0),rgba(255, 166, 0, 0.801));
}

.options {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255,255,255, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;

}

/* .choice {
  font-size: 3rem;
}

input[type=radio]{
  

} */


input[type=radio]
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(255, 0, 221);
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
input[type=radio]:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
input[type=radio]:hover
{
     background-color: #f7f7f7;
}
input[type=radio]:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 30px/1.7 'Open Sans', sans-serif;
     color: rgb(19, 78, 50);
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 




